{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ role }}! ✅ Number {{ id }}</h1>
    <h1>Nice to meet you{{ name }}! ✅</h1>
    {% if role != 'admin' %}
    <h1>Data</h1>

    {{ form_start(formData) }}

    {{ form_row(formData.Name) }}
    {{ form_row(formData.Data) }}
    {{ form_row(formData.file) }}

    <button type="submit" class="btn">Add data</button>
    {{ form_end(formData) }}
</div>


    <div class="example-wrapper">
        {% if dates is not empty %}
        {% for data in dates %}

        <li>Название заметки:{{ data.Name }}</li>
        <li>Описание заметки:{{ data.data }}</li>
        <li>Путь файла заметки{{ data.file }}</li>
        <li>Время записи заметки:{{ data.RecordingDate |date('Y-m-d') }}</li>
        <br>
        {% endfor %}
        {% endif %}
    </div>
    {% endif %}
{% if role == 'admin' %}
    {% if dates is not empty %}
        {% for data in dates %}
<div style = "list-style-type: none;"  class="example-wrapper">
          <a href="/user_delete/{{ data.id }}">Удалить пользователя:{{ data.email }} </a>
</div>
        {% endfor %}
    {% endif %}

    {% endif %}
{% endblock %}
